{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <article class="container">
        <section class="my-5">
            <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
            <p class="text-danger mt-4">Les champs marqués d'un * sont obligatoires.</p>
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.avatar) }}
                
                {{ form_row(registrationForm.plainPassword) }}

                {{ form_row(registrationForm.RGPDConsent, {
                    label: 'En cochant cette case , j\'accepte que mes données soient colléctés et utilisés.'
                }) }}

                <button type="submit" class="btn mt-3">M'inscrire</button>
            {{ form_end(registrationForm) }}
        </section>
    </article>

{% endblock %}
