{% extends 'base.html.twig' %}

{% block title %} 
	{% trans %}REINITIALISATION DE MOT DE PASSE{% endtrans %}
{% endblock %}

{% block body %}
	<section class="row my-3">
		<div class="col d-flex flex-column justify-content-center">
			<div class="">
				<h2 class="text-center mb-3"><img src="{{ asset('image/pw_reset.png') }}" alt="icon-password_reset"></h2>
				<h1 class="text-center">
					DES DIFFICULTÉS À TE CONNECTER ?
				</h1>
				<p class="text-center">Réinitialiser ton mot de passe est facile! <br>
					Saisies ton prénom ou pseudo (identifiant utilisateur) <br> 
					pour recevoir ton lien de réinitialisation.
				</p>
			</div>
			<div class="align-self-center mt-3">
				{{ form_start(form) }}
				{{ form_errors(form) }}

				{{ form_row(form.name, {label: ' '}) }}
				<div class="d-flex mt-4">
					<button type="submit" class="btn my-3">Réinitialiser</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}
