{# image management #}
{% macro imageLoop(trick, withInput) %}
	{% for image in trick.images(true) %}
	<div clas="d-flex">
		<img class="media-tag rounded me-3 mb-3" src="{{ asset(image) }}" alt="image-snowboard-{{ trick.name }}"/>
		<div>
			{% if app.request.attributes.get('_route') == "trick_edit" %}
				{% include "_partial/_edit-delete-image.html.twig" with { withInput: withInput } %}
			{% endif %}
		</div>
	</div>
	{% endfor %}
{% endmacro %}

{# video management #}
{% macro videoLoop(trick, withInput) %}
	{% for video in trick.videos %}
		<div clas="d-flex">
			<div class="mb-3 me-3">
				{{ video.name|raw }}
				<embed type="video/webm" src="{{ video.name|raw }}"/>
				<iframe src="{{ video.name|raw }}" frameborder="0" allowfullscreen></iframe>
			</div>
			<div>
				{% if app.request.attributes.get('_route') == "trick_edit" %}
					{% include "_partial/_edit-delete-video.html.twig" with { withInput: withInput } %}
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endmacro %}


<section class="d-none d-sm-none d-md-block d-lg-block">
	<div class="d-flex flex-wrap justify-content-center py-3 bg-black">
		{{ _self.imageLoop(trick, 1) }}
		{{ _self.videoLoop(trick, 1) }}
	</div>
</section>
<section class="d-block d-sm-block d-md-none d-lg-none">
	<div class="text-center py-3 bg-black">
		<a data-bs-toggle="collapse" href="#image" aria-expanded="false" aria-controls="image"></a>
		<button class="btn" type="button" data-bs-toggle="collapse" href="#image" aria-expanded="false" aria-controls="image">Médias
		</button>
	</div>
	<div class="collapse" id="image">
		<div class="d-flex flex-column py-3 bg-black">
			<div class="align-self-center">
				{{ _self.imageLoop(trick, 0) }}
				{{ _self.videoLoop(trick, 0) }}
			</div>
		</div>
	</div>
</section>
