{# media management #}
{% macro mediaLoop(trick, withInput) %}
	{% for media in trick.medias(true) %}
		{% if media.type == constant('App\\Entity\\Media::TYPE_IMAGE') %}
			<img class="media-tag rounded me-3 mb-3" src="{{ asset(media) }}" alt="image-snowboard-{{ trick.name }}"/>
		{% elseif media.type == constant('App\\Entity\\Media::TYPE_VIDEO') %}
			<video class="media-tag rounded me-3 mb-3" controls src="{{ asset(media) }}"></video>
		{% endif %}
		<div>
			{% if app.request.attributes.get('_route') == "trick_edit" %}
				{% include "_partial/_edit-delete-image.html.twig" with { withInput: withInput } %}
			{% endif %}
		</div>
	{% endfor %}
{% endmacro %}


<section class="d-none d-sm-none d-md-block d-lg-block">
	<div class="d-flex flex-wrap justify-content-center py-3 bg-black">
		{{ _self.mediaLoop(trick, 1) }}
	</div>
</section>
<section class="d-block d-sm-block d-md-none d-lg-none">
	<div class="text-center py-3 bg-black">
		<a data-bs-toggle="collapse" href="#media" aria-expanded="false" aria-controls="media"></a>
		<button class="btn" type="button" data-bs-toggle="collapse" href="#media" aria-expanded="false" aria-controls="media">Média
			{% if trick.medias|length > 1 %}s
			{% endif %}
		</button>
	</div>
	<div class="collapse" id="media">
		<div class="d-flex flex-column py-3 bg-black">
			<div class="align-self-center">
				{{ _self.mediaLoop(trick, 0) }}
			</div>
		</div>
	</div>
</section>
