{% extends 'base.html.twig' %}	

{% block body %}
    <article class="row d-flex">
		<h1 class="text-center py-2" style="background-color:#38ada9;">Nouvelle figure</h1>
		<section class="d-flex justify-content-center ms-4 mt-3 py-5">
			{% block errosform %}
				{{ form_start(form) }}
				{% set errors = form_errors(form) %}
				{% if errors is empty %}
					<div>
						{{form_errors(form)  }}
					</div>
				{% else %}
					<div class="alert alert-danger">
						{{form_errors(form)  }}
					</div>
				{% endif %}
			{% endblock %}
			<p class="text-danger">Les champs marqués d'un * sont obligatoires.</p>
				<div class="mt-3 mb-2">
					{{ form_row(form.name, {'label': 'Nom *'}) }}
				</div>
				<div class="mb-2">
					{{ form_row(form.description, {'label': 'Description *'}) }}
				</div>
	            <div class="mb-2">
			     {{ form_row(form.trick_group, {'label': 'Groupe de figure *'}) }}
                </div>

				<ul class="medias"
					data-index="{{ form.medias|length > 0 ? form.medias|last.vars.name + 1 : 0 }}"
					data-prototype="{{ form_widget(form.medias.vars.prototype)|e('html_attr') }}"
				></ul>
					<div class="d-flex flex-column justify-content-center">
					<button type="button" class="add_item_link btn" data-collection-holder-class="medias">Ajoutes ton media</button>
					<button type="submit" class="btn my-3">Créer</button>
					{{ form_end(form) }}
				</div>
	    </section>
    </article>
{% endblock %}

{% block javascripts %}
	<script>
		document
			.querySelectorAll('.add_item_link')
			.forEach(btn => {
				btn.addEventListener("click", addFormToCollection)
			});

		function addFormToCollection(e) {
			// Balise ul
			const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
			
			// Balise li
			const item = document.createElement('li');
				item.classList.add('media-item');

			// Créer un button de suppression
			const btnDelete = document.createElement('button');
				btnDelete.classList.add('btn-red-cross');
				btnDelete.type = 'button';
				btnDelete.innerText = "Supprimes ton media";
				btnDelete.style.color = '#f7021b';

			// Créer la croix rouge 
			const redCross = document.createElement('i');
				redCross.classList.add('fa-solid');
				redCross.classList.add('fa-xmark');
				redCross.classList.add('fa-lg');
				redCross.style.color = '#f7021b';
	
				// Ajouter la croix au button btnDelete
				btnDelete.appendChild(redCross);

				item.innerHTML += collectionHolder
				.dataset
				.prototype
				.replace(
				/__name__/g,
				collectionHolder.dataset.index
				);

			collectionHolder.appendChild(item);

			// Ajouter le button btnDelete et la croix redCross à la balise li
			item.appendChild(btnDelete);
			item.appendChild(redCross);

			// Stocker l'index de la balise div créer dans le prototype
			let indexItem = collectionHolder.dataset.index++;
	
			// Ecouter l'event click sur le sur le btn btnDelete pour actionner la suppression
			btnDelete.addEventListener("click", function() {
				deleteFormToCollection(indexItem);
			});
		};

		function deleteFormToCollection(indexItem) {
			const media = document.getElementById('trick_medias_' + indexItem);
			media.parentElement.remove();
		};

				document.querySelectorAll('.delete-media').forEach(bnt => {
		btn.addEventListener("click", deleteMedia);
		});

		function deleteMedia(e) {
		const mediaId = e.currentTarget.dataset.mediaId;
		console.log(mediaId);
		const media = document.getElementById('trick_media_' + mediaId);

		if (media) {
		media.remove();
		}
		}
	</script>
{% endblock %}