{% extends 'base.html.twig' %}	

{% block body %}
    <article class="row d-flex">
		<h1 class="position-absolute top-25 end-0 py-2" style="background-color:#38ada9;">Nouvelle figure</h1>
		<section class="d-flex ms-4 mt-5 py-5">
			{# TODO: comment faire pour avoir plusieurs images et vidéos pour un seul objet ? #}

			{{ form_start(form) }}

			{% set errors = form_errors(form) %}
			{% if errors is empty %}
				<div>
					{{form_errors(form)  }}
				</div>
			{% else %}
				<div class="alert alert-danger">
					{{form_errors(form)  }}
				</div>
			{% endif %}
			<p class="text-danger">Les champs marqués d'un * sont obligatoires.</p>
				<div class="mt-5 mb-2">
					{{ form_row(form.name, {'label': 'Nom *'}) }}
				</div>
				<div class="mb-2">
					{{ form_row(form.description, {'label': 'Description *'}) }}
				</div>
				<div class="mb-2">
			{{ form_row(form.picture, {'label': 'Images'}) }}
			{{ form_row(form.video, {'label': 'Vidéos'}) }}
			</div>
			{{ form_row(form.trick_group, {'label': 'Groupe de figure *'}) }}
			<div class="d-flex">
				<button type="submit" class="btn my-3">{% trans %}Enregistrer{% endtrans %}</button>
				{{ form_end(form) }}
			</div>
	    </section>
    </article>
{% endblock %}