{% extends 'base.html.twig' %}
{# TODO: faire la mise en page #}
{% block miscellaneous %}
	<div class="d-flex block-edit-delete text-center">
		<a class="btn-edit me-3" href="{{ path('trick_edit', { slug: trick.slug } )}}">
			<i class="fa-solid fa-pen fa-xl" style="color: #030303;"></i>
		</i>
	</a>
	{{ include('front/trick/_delete_form.html.twig') }}
</div>{% endblock %}{% block body %}


<article
	class="row d-flex flex-column">
	{# Block main title and image #}
	<h1 class="position-absolute top-25 end-0">
		<span class="trick-name fs-1 mt-lg-3 position-absolute top-0 start-50 translate-middle badge">{{ trick.name }}</span>
	</h1>

	<div>
		<img id="main-image" class="mw-100" src="{{ asset('upload/image/' ~ trick.mainImage ) }}" healt="image-snowboard-{{ trick.name }}"/>
	</div>

	{# Block image and video #}
	<section class="d-flex justify-content-center mb-3 py-3 bg-dark">
		{% for media in trick.medias %}
			<div class="me-2">
				<img class="mw-100 rounded" src="{{ asset('upload/image/' ~ media.name ) }}" width="250px" alt="image-snowboard-{{ trick.name }}"/>
			</div>
		{% endfor %}
	</section>

	{# Block description #}
	<section class="d-flex justify-content-center mb-3">
		<div class="fs-4 w-75 p-3">
			{{ trick.description }}
		</div>
	</section>


	{# Block tags #}
	<section class="d-flex justify-content-center">
		<ul class="d-flex flex-row">
			<li class="me-3 p-2 text-light bg-dark rounded">
				Auteur :
				{{ trick.tags.author|capitalize }}
			</li>
			<li class="me-3 p-2 text-light bg-dark rounded">
				Date de création :
				{{ trick.tags.createdAt|format_datetime('short', 'none', locale='fr') }}
			</li>
			{% if trick.tags.updatedAt is not empty %}
				<li class="me-3 p-2 text-light bg-dark rounded">
					Date de mise à jour :
					{{ trick.tags.updatedAt|format_datetime('short', 'none', locale='fr') }}
				</li>
			{% endif %}
			<li class="me-3 p-2 text-light bg-dark rounded">
				Groupe de figure :
				{{ trick.tags.trickGroup }}
			</li>
		</ul>
	</section>

	{# Block comment #}
    {% include "front/comment/comment.html.twig" %}


</article>{% endblock %}
