{% extends 'base.html.twig' %}

{% block body %}
	<article class="row d-flex flex-column">
		{% if app.user and app.user.isverified == true %}
			<div class="block-edit-delete d-flex justify-content-center position-absolute top-25 end-0 text-center">
				{% if app.request.attributes.get('_route') == "trick_slug" %}
					<a class="btn-edit me-3" href="{{ path('trick_edit', { slug: trick.slug } )}}">
						<i class="fa-solid fa-pen fa-lg" style="color: #95a5a6;"></i>
					</a>
					<div>
						{{ include('front/trick/_delete.html.twig') }}
					</div>
				{% endif %}
			</div>
		{% endif %}

		{# main title and image #}
		{% block maintrick %}
			<section class="py-5 {% if trick.mainImage.name == " default.png" %} bg-body {% else %} bg-black {% endif %}">
				<h1 class="position-absolute top-25 start-50">
					<span class="trick-name fs-1 mt-lg-3 position-absolute top-0 start-50 translate-middle badge">{{ trick.name }}</span>
				</h1>
				<div class="text-center">
					<img id="main-image" class="mw-100" src="{{ asset( trick.mainImage ) }}" alt="image-snowboard-{{ trick.name }}"/>
				</div>
			</section>
		{% endblock %}


		{% macro mediaLoop(trick, withInput) %}
			{% for media in trick.medias(true) %}
				{% if media.type == constant('App\\Entity\\Media::TYPE_IMAGE') %}
					<img class="media-tag rounded me-3" src="{{ asset(media) }}" alt="image-snowboard-{{ trick.name }}"/>
				{% elseif media.type == constant('App\\Entity\\Media::TYPE_VIDEO') %}
					<video class="media-tag rounded me-3" controls src="{{ asset(media) }}"></video>
				{% endif %}
				<div>
					{% if app.request.attributes.get('_route') == "trick_edit" %}
						{% include "_partial/_edit-delete-image.html.twig" with { withInput: withInput } %}
					{% endif %}
				</div>
			{% endfor %}
		{% endmacro %}

		{% block medias %}
			<section class="d-none d-sm-none d-md-block d-lg-block">
				<div class="d-flex flex-wrap justify-content-center py-3 bg-black">
					{{ _self.mediaLoop(trick, 1) }}
				</div>
			</section>
			<section class="d-block d-sm-block d-md-none d-lg-none">
				<div class="text-center py-3 bg-black">
					<a data-bs-toggle="collapse" href="#media" aria-expanded="false" aria-controls="media"></a>
					<button class="btn" type="button" data-bs-toggle="collapse" href="#media" aria-expanded="false" aria-controls="media">Média{% if trick.medias|length > 1 %}s{% endif %}
					</button>
				</div>
				<div class="collapse" id="media">
					<div class="d-flex flex-column align-self-center py-3 bg-black">
						{{ _self.mediaLoop(trick, 0) }}
					</div>
				</div>
			</section>
		{% endblock %}

		{# edit form #}
		{% block trickedit %}{% endblock %}

		{# description #}
		{% block desciption %}
			<section class="d-flex justify-content-center my-3">
				<div class="text-center fs-4 w-75 p-3">
					{{ trick.description }}
				</div>
			</section>
		{% endblock %}
		{# tags #}
		{% block tags %}
			<section class="d-flex justify-content-center">
				<ul class="d-flex flex-row">
					<li class="text-center fs-5 me-3 p-2 text-light bg-dark rounded">
						Auteur
						{{ trick.tags.author|capitalize }}
					</li>
					<li class="text-center fs-5 me-3 p-2 text-light bg-dark rounded">
						Date de création
						{{ trick.tags.createdAt|format_datetime('short', 'none', locale='fr') }}
					</li>
					{% if trick.tags.updatedAt is not empty %}
						<li class="text-center fs-5 me-3 p-2 text-light bg-dark rounded">
							Date de mise à jour
							{{ trick.tags.updatedAt|format_datetime('short', 'none', locale='fr') }}
						</li>
					{% endif %}
					<li class="text-center fs-5 me-3 p-2 text-light bg-dark rounded">
						Groupe de figure
						{{ trick.tags.trickGroup }}
					</li>
				</ul>
			</section>
		{% endblock %}

		{# add comment  #}
		{% block comments %}
			{% if app.user and app.user.isverified == true %}
				<section class="container d-flex flex-column justify-content-center mt-4 p-3 bg-dark">
					{{ form_start(form) }}
					{% set errors = form_errors(form) %}
					{% if errors is empty %}
						<div>
							{{form_errors(form)  }}
						</div>
					{% else %}
						<div class="alert alert-danger">
							{{form_errors(form)  }}
						</div>
					{% endif %}
					<div class="d-flex flex-wrap justify-content-center my-3">
						<div class="w-50 mx-5">
							{{ form_row(form.content, {label: ' '}) }}
						</div>
						<div class="m-4 align-self-end">
							<button type="submit" class="btn my-3">
								{% trans %}Laisses un commentaire{% endtrans %}</button>
							{{ form_end(form) }}
						</div>
					</div>
				</section>
			{% endif %}
		{% endblock %}

		{# comments if they are empty or not #}
		{% block commentsif %}
			{% if comments is empty %}
				<p class="text-center fs-4 my-5 px-5">
					Cette figure de snowboard n'a pas encore de commentaire.
					<br>
					À ton clavier ⌨️.
				</p>
			{% else %}
				<section class="container d-flex flex-column justify-content-center my-4">
					{% for comment in comments.data %}
						{% if comment.status != 1 %}
							<p class="text-center fs-4 lh-sm my-5 px-5">
								Patience... Tu pourras bientôt lire tous les commentaires validés de nos abonnés.
																																									Laisses nous aussi un commentaire 😃.
							</p>
						{% else %}
							<div class="row align-items-center">
								<div class="col-2 d-flex justify-content-center">
									{% if comment.user.avatar == null %}
										<div class="align-self-center mb-2">
											<img src="{{ asset('image/avatar.png') }}" alt="user-avatar">
										</div>
									{% else %}
										<div class="align-self-center">
											<img src="{{ asset('upload/avatar/' ~ comment.user.avatar) }}" height="60px" alt="user-avatar">
										</div>
									{% endif %}
								</div>
								<div class="col-10">
									<ul class="list-group list-group-horizontal">
										<li class="list-group-item">{{ comment.content }}</li>
										<li class="list-group-item">Auteur
											<span class="fw-semibold">{{ comment.user }}
											</span>
										</li>
										<li class="list-group-item">Créé le
											<span class="fw-semibold">
												{{ comment.createdAt|format_datetime('short', 'none', locale='fr') }}
											</span>
										</li>
									</ul>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</section>
			{% endif %}
		{% endblock %}

		{% block commentsmore %}
			{# Initialize variables for paging #}
			{% if comments is not empty %}
				{% set path = 'trick_slug' %}
				{% set slug = trick.slug %}
				{% set pages = comments.pages %}
				{% set currentPage = comments.firstResult %}
				<div class="d-flex justify-content-center">
					{% include "_partial/_paging.html.twig" %}
				</div>
			{% endif %}
			{# comments ++ #}
			<div class="collapse" id="comment">
				{% if comments|length > 10 %}
					<div class="text-center mb-3">
						<a data-bs-toggle="collapse" href="#comment" aria-expanded="false" aria-controls="comment"></a>
						<button class="btn" type="button" data-bs-toggle="collapse" href="#comment" aria-expanded="false" aria-controls="comment">Plus de commentaire
							{% if comments|length > 1 %}s
							{% endif %}
						</button>
					</div>
					{% for comment in comments|slice(11, comments|length) %}
						{% if comment.status == 1 %}
							<section class="d-flex flex-row justify-content-center">
								<div class="mx-3 p-3">
									{% if comment.user.avatar is empty %}
										<img src="{{ asset('image/avatar.png') }}" alt="user-avatar">
									{% else %}
										<img src="{{ asset('upload/avatar/' ~ comment.user.avatar) }}" height="60px" alt="user-avatar">
									{% endif %}
								</div>
								<div class="mx-3 my-2 p-3">
									<ul class="list-group list-group-horizontal">
										<li class="list-group-item">{{ comment.content }}</li>
										<li class="list-group-item">Auteur
											<span class="fw-semibold">{{ comment.user }}
											</span>
										</li>
										<li class="list-group-item">Créé le
											<span class="fw-semibold">
												{{ comment.createdAt|format_datetime('short', 'none', locale='fr') }}
											</span>
										</li>
									</ul>
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
			{% endblock %}
		</article>
	{% endblock %}
