{% extends "/base.html.twig" %}

{% block body %}

	<article class="d-flex flex-wrap justify-content-center">
	
		<section class="col-lg-6 p-lg-5 my-3">
			<h1>RÉINITILISATION DE TON MOT DE PASSE</h1>
			<h6 class="fs-5">Saisis et confirmes ton nouveau mot de passe.</h6>
			<p class="text-danger mt-4">Les champs marqués d'un * sont obligatoires.</p>
			<div class="align-self-center mt-3">
				{{ form_start(form) }}
				{{ form_errors(form) }}

				{{ form_row(form.password.first, {label: ' '}) }}
				{{ form_row(form.password.second, {label: ' '}) }}
				<div class="d-flex mt-4">
					<button type="submit" class="btn my-3">Réinitialiser</button>
				</div>
				{{ form_end(form) }}
			</div>
		</section>
			<div class="col-lg-6 mt-lg-4">
			<img src="{{asset('image/password-forget.png') }}" alt="image-forger-password" class="mw-100">
		</div>
	</article>
{% endblock %}
