{% extends "/base.html.twig" %}

{% block body %}

	<article class="d-flex flex-wrap justify-content-center">
		<section class="col-lg-6 p-lg-5 my-3 align-self-center">
			<div class="text-center mb-3">
				<img src="{{ asset('image/pw_reset.png') }}" alt="icon-password_reset">
			</div>
			<h1 class="text-center w-100">RÉINITILISATION DE TON MOT DE PASSE</h1>
			<h6 class="text-center fs-5">Saisis et confirmes ton nouveau mot de passe.</h6>
			<p class="text-center text-danger mt-4">Les champs marqués d'un * sont obligatoires.</p>
			<div class="align-self-center mt-3">
				{{ form_start(form) }}
				{{ form_errors(form) }}

				{{ form_row(form.password.first, {label: ' '}) }}
				{{ form_row(form.password.second, {label: ' '}) }}
				<div class="d-flex justify-content-center mt-4">
					<button type="submit" class="btn my-3">Réinitialiser</button>
				</div>
				{{ form_end(form) }}
			</div>
		</section>

	</article>
{% endblock %}
