{% extends 'base.html.twig' %}

{% block title %} 
	REINITIALISATION DE MOT DE PASSE
{% endblock %}

{% block body %}
	<section class="row my-3">
		<div class="col d-flex flex-column justify-content-center">
			<div class="text-center">
				<div class="text-center mb-3">
					<img src="{{ asset('image/pw_reset.png') }}" alt="icon-password_reset">
				</div>
				
				<h1>REINITIALISATION DE MOT DE PASSE</h1>
				<h2 class="text-center">
					DES DIFFICULTÉS À TE CONNECTER ?
				</h2>
				<p class="text-center">Réinitialiser ton mot de passe est facile! <br>
					Saisies ton prénom ou pseudo (identifiant utilisateur) <br> 
					pour recevoir ton lien de réinitialisation.
				</p>
				<p class="text-center text-danger mt-4">Les champs marqués d'un * sont obligatoires.</p>
			</div>
			<div class="align-self-center mt-3">
				{{ form_start(form) }}
				{{ form_errors(form) }}

				{{ form_row(form.name, {label: ' '}) }}
				<div class="d-flex mt-4">
					<button type="submit" class="btn my-3">Demande de réinitialisation</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}
