{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <article class="container">
        {# Block main title #}
        <section class="row d-flex justify-content-center">
            <div class="main-title fs-5 mb-sm-3">
                <img src="{{asset('image/snowboard-home.png')}}" alt="image-home-snowboard" class="mw=100">
                <h1 class="hook mt-3"><strong>SnowTricks</strong> est un site collaboratif pour faire connaître ce sport auprès du grand public et aider à l'apprentissage des figures <strong class="marker-blue">(tricks)</strong>.</h1>
            </div>
        </section>

        {# Block down #}
        <section id="up" class="d-flex my-2 justify-content-end">
            <div class="my-4">
                <a href="#down"><i class="fa-solid fa-down-long fa-xl"></i></a>
            </div>
        </section>

        {# Block create button #}
        {% if app.user and app.user.isverified == true %}
        	<div>
                <a class="btn fs-5 my-4" href="{{ path('trick_create') }}">Nouvelle figure</a>
            </div>
        {% endif %}

      {# Block display trick #}
        <section class="d-flex flex-wrap justify-content-center">
			{% for trick in tricks %}
				<div class="col-sm-4 d-flex justify-content-center mb-3">
                    <div class="card" style="max-width: 18rem; max-height: 16rem;">
             
                        <div class="shadow-sm p-3 mb-5 bg-body rounded">
                            <div>
                                <a href="{{ path('trick_slug', { slug: trick.slug } )}}">
                                    <img id="thumbnail" class="rounded-top" src="{{ asset( trick.mainImage ) }}" alt="trick-image-test-2">
                                </a>
                            </div>
                           
                                <div class="p-2 rounded-bottom" style="min-width: 16rem; background-color: #000;">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <a class="card-link" href="{{ path('trick_slug', { slug: trick.slug } )}}">{{ trick.name }}</a>
                                        </div>
                                        <div class="d-flex">
                                            <a class="me-2" href="{{ path('trick_edit', { slug: trick.slug } )}}">
                                                <i class="fa-solid fa-pen fa-lg" style="color: #95a5a6;"></i>
                                            </a>
                                            <div>
                                                {{ include('front/trick/_delete.html.twig') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
			{% endfor %}
	    </section>

        {# Block up #}
        <section id="down" class="d-flex my-2 justify-content-end">
            <div class="my-4" class="my-4">
                <a href="#up"><i class="fa-solid fa-up-long fa-xl"></i></a>
            </div>
        </section>
     
    </article>
{% endblock %}
